<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Version</key>
    <integer>16</integer>
    <key>Changelog</key>
    <array>
        <string>Correct CAL_DCS_LTOFFSET_AVG_HR01</string>
        <string>Correct TST_BF_DCS_LOFF_SIG_STD_64HZ_HR</string>
        <string>Correct WC_MDM_LON_SIG_AVG_HR, PDAR parm naming</string>
        <string>remove TST_PDAR_AR0_LED1 &amp; TST_PDAR_AR1_LED1 limits, correct typo in CAL_PDAR_AR_LED1</string>
        <string>add _AVG after LTOFFSET</string>
        <string>relax USL for LTOFFSET and XTALK</string>
        <string>delete LR1# test items in BF and WC test since LED1 is not fired in LR mode</string>
        <string>Changed _CMx and _CMy to _CMNWSE and _CMNESW to match ERS v0.8</string>
        <string>Relax AVG specs, add LSL for STD</string>
        <string>change all MDM limit to NA</string>
        <string>Add back 5 FOMs that were deleted by mistake</string>
        <string>Append FOMs in Flathead to Default.plist</string>
        <string>Update Specs based on Proto1 distribution. Add specs for MDM and PDAR</string>
        <string>Correct LSL/USL sequence</string>
        <string>Correct WC_DCS_AVG 0 bug</string>
        <string>Update Specs based on changes between Proto2 and Proto1</string>
    </array>
    <key>Content</key>
    <dict>
		<key>SpecName</key>
		<dict>
			<key>LSL</key>
			<string>LSL</string>
			<key>USL</key>
			<string>USL</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR40</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR41</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR50</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR51</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>601801</string>
			<key>USL</key>
			<string>838151</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>558620</string>
			<key>USL</key>
			<string>799050</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>188229</string>
			<key>USL</key>
			<string>715449</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>245967</string>
			<key>USL</key>
			<string>495887</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>272075</string>
			<key>USL</key>
			<string>1231965</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>445231</string>
			<key>USL</key>
			<string>956841</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>391958</string>
			<key>USL</key>
			<string>911148</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>336167</string>
			<key>USL</key>
			<string>987267</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR40</key>
		<dict>
			<key>LSL</key>
			<string>221149</string>
			<key>USL</key>
			<string>1306109</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR41</key>
		<dict>
			<key>LSL</key>
			<string>390536</string>
			<key>USL</key>
			<string>965076</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR50</key>
		<dict>
			<key>LSL</key>
			<string>454118</string>
			<key>USL</key>
			<string>1053338</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR51</key>
		<dict>
			<key>LSL</key>
			<string>412905</string>
			<key>USL</key>
			<string>1134755</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>596428</string>
			<key>USL</key>
			<string>830618</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>552559</string>
			<key>USL</key>
			<string>790429</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>596428</string>
			<key>USL</key>
			<string>830618</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>552559</string>
			<key>USL</key>
			<string>790429</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR00</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR01</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR10</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR11</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR20</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>33.2</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR21</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>30.43</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR30</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>31.35</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR31</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>30.55</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR40</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>33.2</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR41</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>30.43</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR50</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>31.35</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR51</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>30.55</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR00</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR01</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR10</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR11</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR20</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>49.73</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR21</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>47.38</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR30</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>48.15</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR31</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>47.48</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR40</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>49.73</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR41</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>47.38</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR50</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>48.15</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR51</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>47.48</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR00</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR01</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR10</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR11</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR20</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR21</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR30</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR31</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR_2SLT00</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR_2SLT01</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR_2SLT10</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR_2SLT11</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_R_DCS_HR00vsHR01</key>
		<dict>
			<key>LSL</key>
			<string>0.88</string>
			<key>USL</key>
			<string>1.3</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>53247.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>-31587.5</string>
			<key>USL</key>
			<string>38807.5</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>-45.13</string>
			<key>USL</key>
			<string>45.13</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>-45.13</string>
			<key>USL</key>
			<string>45.13</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>-45.13</string>
			<key>USL</key>
			<string>45.13</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>-45.13</string>
			<key>USL</key>
			<string>45.13</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>-45.13</string>
			<key>USL</key>
			<string>45.13</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>-45.13</string>
			<key>USL</key>
			<string>45.13</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>-45.13</string>
			<key>USL</key>
			<string>45.13</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>-45.13</string>
			<key>USL</key>
			<string>45.13</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>-270.75</string>
			<key>USL</key>
			<string>270.75</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>-270.75</string>
			<key>USL</key>
			<string>270.75</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>-270.75</string>
			<key>USL</key>
			<string>270.75</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>-270.75</string>
			<key>USL</key>
			<string>270.75</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>-270.75</string>
			<key>USL</key>
			<string>270.75</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>-270.75</string>
			<key>USL</key>
			<string>270.75</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>-270.75</string>
			<key>USL</key>
			<string>270.75</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>-270.75</string>
			<key>USL</key>
			<string>270.75</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR00</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>8.1</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR01</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>8.1</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR10</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>9.03</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR11</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>9.03</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR20</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>11.19</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR21</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>11.19</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR30</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>21.03</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR31</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>21.03</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR00</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>18.05</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR01</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>18.05</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR10</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>18.05</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR11</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>18.05</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR20</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>22.38</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR21</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>22.38</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR30</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>42.06</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR31</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>42.06</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR00</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.62</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR01</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.62</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR10</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.62</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR11</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.62</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR20</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.62</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR21</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.62</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR30</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.62</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR31</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.62</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR_2SLT00</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.2</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR_2SLT01</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.2</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR_2SLT10</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.2</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR_2SLT11</key>
		<dict>
			<key>LSL</key>
			<string>0.09</string>
			<key>USL</key>
			<string>1.2</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>32422</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>33512</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>454313</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>352527</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>325152</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>440329</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR40</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>548761</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR41</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>363678</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR50</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>388405</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR51</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>505989</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>32086</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>33107</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>32086</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>33107</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR00</key>
		<dict>
			<key>LSL</key>
			<string>282069.9</string>
			<key>USL</key>
			<string>734551.8</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR01</key>
		<dict>
			<key>LSL</key>
			<string>251568</string>
			<key>USL</key>
			<string>655120.3</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR10</key>
		<dict>
			<key>LSL</key>
			<string>129850.9</string>
			<key>USL</key>
			<string>338151</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR11</key>
		<dict>
			<key>LSL</key>
			<string>117940.7</string>
			<key>USL</key>
			<string>307134.9</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR20</key>
		<dict>
			<key>LSL</key>
			<string>323119.8</string>
			<key>USL</key>
			<string>799996</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR21</key>
		<dict>
			<key>LSL</key>
			<string>301502.6</string>
			<key>USL</key>
			<string>746475.2</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR30</key>
		<dict>
			<key>LSL</key>
			<string>327670.8</string>
			<key>USL</key>
			<string>811263.6</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR31</key>
		<dict>
			<key>LSL</key>
			<string>312880.1</string>
			<key>USL</key>
			<string>774644.1</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR40</key>
		<dict>
			<key>LSL</key>
			<string>323119.8</string>
			<key>USL</key>
			<string>799996</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR41</key>
		<dict>
			<key>LSL</key>
			<string>301502.6</string>
			<key>USL</key>
			<string>746475.2</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR50</key>
		<dict>
			<key>LSL</key>
			<string>327670.8</string>
			<key>USL</key>
			<string>811263.6</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR51</key>
		<dict>
			<key>LSL</key>
			<string>312880.1</string>
			<key>USL</key>
			<string>774644.1</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR00</key>
		<dict>
			<key>LSL</key>
			<string>282069.9</string>
			<key>USL</key>
			<string>734551.8</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR01</key>
		<dict>
			<key>LSL</key>
			<string>251568</string>
			<key>USL</key>
			<string>655120.3</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR10</key>
		<dict>
			<key>LSL</key>
			<string>282069.9</string>
			<key>USL</key>
			<string>734551.8</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR11</key>
		<dict>
			<key>LSL</key>
			<string>251568</string>
			<key>USL</key>
			<string>655120.3</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR20</key>
		<dict>
			<key>LSL</key>
			<string>129850.9</string>
			<key>USL</key>
			<string>338151</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR21</key>
		<dict>
			<key>LSL</key>
			<string>117940.7</string>
			<key>USL</key>
			<string>307134.9</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR30</key>
		<dict>
			<key>LSL</key>
			<string>129850.9</string>
			<key>USL</key>
			<string>338151</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR31</key>
		<dict>
			<key>LSL</key>
			<string>117940.7</string>
			<key>USL</key>
			<string>307134.9</string>
		</dict>
	</dict>
</dict>
</plist>
