<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Content</key>
	<dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR40</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR41</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR50</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_HR51</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_BG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>297855.52</string>
			<key>USL</key>
			<string>1796840.49</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>273752.25</string>
			<key>USL</key>
			<string>1691969.53</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>161009.24</string>
			<key>USL</key>
			<string>1043817.09</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>126372.68</string>
			<key>USL</key>
			<string>823603.36</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>503100.48</string>
			<key>USL</key>
			<string>2151920.7</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>397954.86</string>
			<key>USL</key>
			<string>1649939.5</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>397954.86</string>
			<key>USL</key>
			<string>1649939.5</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>503100.48</string>
			<key>USL</key>
			<string>2151920.7</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR40</key>
		<dict>
			<key>LSL</key>
			<string>503100.48</string>
			<key>USL</key>
			<string>2151920.7</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR41</key>
		<dict>
			<key>LSL</key>
			<string>397954.86</string>
			<key>USL</key>
			<string>1649939.5</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR50</key>
		<dict>
			<key>LSL</key>
			<string>397954.86</string>
			<key>USL</key>
			<string>1649939.5</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_HR51</key>
		<dict>
			<key>LSL</key>
			<string>503100.48</string>
			<key>USL</key>
			<string>2151920.7</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>297855.52</string>
			<key>USL</key>
			<string>1796840.49</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>273752.25</string>
			<key>USL</key>
			<string>1691969.53</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>297855.52</string>
			<key>USL</key>
			<string>1796840.49</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>273752.25</string>
			<key>USL</key>
			<string>1691969.53</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>161009.24</string>
			<key>USL</key>
			<string>1043817.09</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>126372.68</string>
			<key>USL</key>
			<string>823603.36</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>161009.24</string>
			<key>USL</key>
			<string>1043817.09</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>126372.68</string>
			<key>USL</key>
			<string>823603.36</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR00</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>24.61</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR01</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>24.61</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR10</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>12.55</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR11</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>12.55</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR20</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>31.23</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR21</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>25.33</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR30</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>25.33</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR31</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>31.24</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR40</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>31.23</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR41</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>25.33</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR50</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>25.33</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_256HZ_HR51</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>31.24</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR00</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>37.3</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR01</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>37.3</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR10</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>20.1</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR11</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>20.1</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR20</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>41.98</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR21</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>36.18</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR30</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>36.18</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR31</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>41.98</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR40</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>41.98</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR41</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>36.18</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR50</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>36.18</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_64HZ_HR51</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>41.98</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR00</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>4.23</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR01</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>4.23</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR10</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>4.23</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR11</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>4.23</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR20</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>3.38</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR21</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>3.38</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR30</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>3.38</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR31</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>3.38</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR_2SLT00</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>3.16</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR_2SLT01</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>3.16</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR_2SLT10</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>2.62</string>
		</dict>
		<key>SA_BC_DCS_LON_SIG_STD_8HZ_LR_2SLT11</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>2.62</string>
		</dict>
		<key>SA_BC_R_DCS_HR00vsHR01</key>
		<dict>
			<key>LSL</key>
			<string>0.875</string>
			<key>USL</key>
			<string>1.295</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>14765.86</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>14765.86</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>99959.1</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>42776.7</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>775207.9</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>775207.9</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>775207.9</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>775207.9</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR40</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>775207.9</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR41</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>775207.9</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR50</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>775207.9</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_HR51</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>775207.9</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>14765.86</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>14765.86</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>14765.86</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>14765.86</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>99959.1</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>42776.7</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>99959.1</string>
		</dict>
		<key>SA_BF_DCS_XTALK_SIG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>200</string>
			<key>USL</key>
			<string>42776.7</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>53100</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_BG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>-31500</string>
			<key>USL</key>
			<string>38700</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR00</key>
		<dict>
			<key>LSL</key>
			<string>-50</string>
			<key>USL</key>
			<string>50</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR01</key>
		<dict>
			<key>LSL</key>
			<string>-50</string>
			<key>USL</key>
			<string>50</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR10</key>
		<dict>
			<key>LSL</key>
			<string>-50</string>
			<key>USL</key>
			<string>50</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR11</key>
		<dict>
			<key>LSL</key>
			<string>-50</string>
			<key>USL</key>
			<string>50</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR20</key>
		<dict>
			<key>LSL</key>
			<string>-50</string>
			<key>USL</key>
			<string>50</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR21</key>
		<dict>
			<key>LSL</key>
			<string>-50</string>
			<key>USL</key>
			<string>50</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR30</key>
		<dict>
			<key>LSL</key>
			<string>-50</string>
			<key>USL</key>
			<string>50</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_HR31</key>
		<dict>
			<key>LSL</key>
			<string>-50</string>
			<key>USL</key>
			<string>50</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR00</key>
		<dict>
			<key>LSL</key>
			<string>-300</string>
			<key>USL</key>
			<string>300</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR01</key>
		<dict>
			<key>LSL</key>
			<string>-300</string>
			<key>USL</key>
			<string>300</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR10</key>
		<dict>
			<key>LSL</key>
			<string>-300</string>
			<key>USL</key>
			<string>300</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR11</key>
		<dict>
			<key>LSL</key>
			<string>-300</string>
			<key>USL</key>
			<string>300</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR20</key>
		<dict>
			<key>LSL</key>
			<string>-300</string>
			<key>USL</key>
			<string>300</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR21</key>
		<dict>
			<key>LSL</key>
			<string>-300</string>
			<key>USL</key>
			<string>300</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR30</key>
		<dict>
			<key>LSL</key>
			<string>-300</string>
			<key>USL</key>
			<string>300</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_AVG_LR31</key>
		<dict>
			<key>LSL</key>
			<string>-300</string>
			<key>USL</key>
			<string>300</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR00</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>8.1</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR01</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>8.1</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR10</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>9.03</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR11</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>9.03</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR20</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>11.19</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR21</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>11.19</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR30</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>21.03</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_256HZ_HR31</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>21.03</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR00</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>18.05</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR01</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>18.05</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR10</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>18.05</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR11</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>18.05</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR20</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>22.38</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR21</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>22.38</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR30</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>42.06</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_64HZ_HR31</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>42.06</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR00</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.8</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR01</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.8</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR10</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.8</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR11</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.8</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR20</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.8</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR21</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.8</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR30</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.8</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR31</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.8</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR_2SLT00</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.26</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR_2SLT01</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.26</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR_2SLT10</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.26</string>
		</dict>
		<key>SA_BF_DCS_LOFF_SIG_STD_8HZ_LR_2SLT11</key>
		<dict>
			<key>LSL</key>
			<string>0.1</string>
			<key>USL</key>
			<string>1.26</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR00</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR01</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR10</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR11</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR20</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR21</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR30</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR31</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR40</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR41</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR50</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_HR51</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR00</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR01</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR10</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR11</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR20</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR21</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR30</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
		<key>SA_BC_DCS_XSUB_LR31</key>
		<dict>
			<key>LSL</key>
			<string>NA</string>
			<key>USL</key>
			<string>NA</string>
		</dict>
	</dict>
</dict>
</plist>
